.mainOuter{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/Cr2viQw.jpg');
    background-size: cover;

}
.registerInner{
    overflow: hidden;
    width: 50%;
    min-height: 500px;
    display: flex;
    border-radius: 8px;
    
    
}
.left{
    flex: 1;
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=1060&t=st=1685434044~exp=1685434644~hmac=5be58f9c2ada3d680e95683eb4644e6cbd77c632b6b82fc2f512b136fe2e8a25");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}
.left h1{
    font-size: 65px;
}
.left span{
    font-style: italic;
    margin-bottom: 10px;
}
.right{
    flex: 1;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.input{
    border: none;
    border-bottom: 1.5px solid #555;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input:focus{
    outline: none;
}
.btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 156, 69);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    transform: scale(1.02);
}

@media(max-width:550px){
    .registerInner{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 70%;
    }
    .left h1{
        font-size: 18px;
        text-align: center;
    }
    .right,input{
        font-size: 0.8rem;
    }
    
}
@media(max-width:950px){
    .registerInner{
        width: 80%;
    }
}